:root {
    --color-primary: #063272;
    --color-secondary: #eaac67;
    --color-accent: #f2e083;

    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    font-size: calc(1vw + 1vh);
}

.navbar {
    width: 100vw;
    /*padding-left:20%;*/
    background-color: var(--color-accent);
    color: var(--color-primary);
    overflow: hidden;
    font-size: calc(1.5vw + 1.5vh);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content > :not(.selected){
    display: none;
}

.content > .selected {
    display: initial;
}


.navbar .logo {
    height: 100%;
}

.navbar > div {
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar > .left {
    /* padding percentage is based on the width of the navbar */
    padding-left: 3vw;
    
}

.navbar > .selected {
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.navbar :nth-child(1 of .right) {
    margin-left: auto;
}

.navbar > .right {
    padding-right: 3vw;
}

.left {
    float: left;
}

.right {
    float: right;
}