<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="ice">
            <h1>Eis</h1>

            
            <div class="container text-center">
                <div class="row">
                  <div class="col-4" th:each="flav : ${flavours}">
                    <a th:text="${flav.name}"></a>
                    <button th:attr="data-id=${flav.id}" class="flavourDeleteButton">Delete</button>
                  </div>
                </div>
            </div>
            

            <form method="POST" action="/ice/addFlavour" id="iceCreamForm">
                <div>
                    <label>Ice Cream</label>
                    <div>
                      <input name="name" placeholder="Name" type="text">
                      <input name="description" placeholder="Description" type="text">
                    </div>
                </div>
                <button tabindex="0" id="saveButton" type="submit" >Save</button>
            </form>

            <h1>Articles</h1>
            <ul>
                <li th:each="art : ${articles}">
                        <span th:text="${art.name}">Name</span>
                        <span th:text="${art.description}">Description</span>
                        <span th:text="${art.type}">Type</span>
                        <span th:text="${art.price}">Price</span>
                </li>
            </ul>
        </div>
    </body>
        
</html>