<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{head :: head}">
    <body>
        <div th:replace="~{navbar :: navbar(elems_left=${ {'Start', 'Eis', 'Getränke'} }, elems_right=${#authorization.expression('isAnonymous()') ? {'Jobs', 'Login'} : {'Profil'} }, index_selected=0)}"></div>
        <hr class="hr hr-blurry">
        <div class="tab-content">
          <div th:insert="~{home :: home}" class="tab-pane fade show active" id="tab-0"></div>

          <div th:insert="~{ice :: ice(flavours=${flavours}, articles=${articles}, toppings=${toppings}, cups=${cups})}" class="tab-pane fade" id="tab-1"></div>

          <div th:insert="~{drinks :: drinks(drinks=drinks)}" class="tab-pane fade" id="tab-2"></div>

          <div th:insert="~{jobs :: jobs}" class="tab-pane fade" id="tab-3" sec:authorize="isAnonymous()"></div>
          <div th:insert="~{me :: me(jobRequests=${jobRequests})}" class="tab-pane fade" id="tab-3" sec:authorize="isAuthenticated()"></div>

          <div th:insert="~{login :: login}" class="tab-pane fade" id="tab-4" sec:authorize="isAnonymous()"></div>

        </div>

      </body>
</html>
