<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="jobs">
                <form method="POST" action="/jobs/apply" id="jobsForm" enctype="multipart/form-data" class="row g-3">
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-text">Vorname</span>
                            <input type="text" class="form-control" name="name" placeholder="Max" aria-label="name" required>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text" id="MailID">@</span>
                            <input type="text" class="form-control"  name="email" placeholder="max.mustermann@example.com" aria-label="email">
                            <div id="MailInputEval"></div>
                        </div>

                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                            <div id="TextAreaEval"></div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-text">Nachname</span>
                            <input type="text" class="form-control" name="surname" placeholder="Mustermann" aria-label="surname" required>
                            <div id="SurnameInputEval"></div>
                        </div>
                      
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Bewerbung für</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>...</option>
                                <option value="MiniJob">MiniJob</option>
                                <option value="Praktikum">Praktikum</option>
                            </select>
                            <div id="SelectInputEval"></div>
                        </div>   
                        
                        <div class="input-group">
                            <div class="card" style="width: 9rem;">
                                <img id="pdfPreviewImage" th:src="@{${'/images/flavours/placeholder.png'}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Lebenslauf</h5>
                                  <p class="card-text" id="cvTitle">CV Title</p>
                                  <button tabindex="0" id="CVButton" type="submit" class="btn btn-primary" >Change</button>
                                  <input type="file" class="d-none"name="CV" id="CVInput" accept="application/pdf">
                                </div>
                            </div>
                            <div id="CVInputEval"></div>
                        </div>
                    </div>
                    <button tabindex="0" type="submit" class="btn btn-primary" >Anfrage senden</button>
                </form>
                <div id="jobsFormAlert"></div>


                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Nachname</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Lebenslauf</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <th scope="row" th:text="${user.id}"></th>
                            <td><span th:text="${user.name}"></span></td>
                            <td><span th:text="${user.surname}"></span></td>
                            <td><span th:text="${user.email}"></span></td>
                            <td><span>
                                <button th:attr="data-id=${user.id}" type="submit" class="btn btn-primary download-btn" th:text="${user.getCV().getFileName()}"></button>
                            </span></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </body>
</html>