<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="login">
          <div class="jobsContainer">
            <h2>Login</h2>
            <form method="POST" id="userLoginForm">
              <div class="me-3">
                <label for="nameInput" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="userHelp">
              </div>
              <div class="me-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp">
                <div id="passwordHelp" class="form-text"> Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji. </div>
              </div>
              <button type="submit" class="btn btn-primary" id="userLogin">Sign Up</button>            
            </form>
            <div id="liveAlertPlaceholder"></div>
          </div>
        </div>
    </body>
</html>