<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navbar" class="navbar" id="navbar" th:with="index_selected=${index_selected} ?: 0">
            <img src="image.png" class="logo" alt="Logo">
            <div class="left" 
                th:each="elem, iter : ${elems_left}" 
                th:classappend="${iter.index == index_selected} ? 'selected' : ''"
                th:text="${elem}"
                th:id="'nav-'+${iter.index}"
                ></div>
            <div class="right" 
                th:each="elem, iter : ${elems_right}" 
                th:classappend="${iter.index+#lists.size(elems_left) == index_selected} ? 'selected' : ''"
                th:text="${elem}"
                th:id="'nav-'+${iter.index+#lists.size(elems_left)}"
                ></div>
        </div>
    </body>
</html>