<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navbar" th:with="index_selected=${index_selected} ?: 0">
            
            <div class="nav nav-tabs d-flex flew-row">
                <a class="nav-item nav-link" th:onclick="|event.preventDefault();$(&quot;.nav-item[href='#tab-${index_selected}']&quot;).click();|">
                    <img src="image.png" class="logo" alt="Logo">
                </a>
                <a class="nav-item nav-link" 
                    id = "home"
                    data-toggle="tab"
                    th:each="elem, iter : ${elems_left}" 
                    th:classappend="${iter.index == index_selected} ? 'active' : ''"
                    th:text="${elem}"
                    th:href="'#tab-'+${iter.index}"
                ></a>
            

                <a class="nav-item nav-link"
                    data-toggle="tab"
                    th:each="elem, iter : ${elems_right}" 
                    th:classappend="|${iter.index+#lists.size(elems_left) == index_selected ? 'active' : ''} ${iter.index == 0 ? 'ml-auto' : ''}|"
                    th:text="${elem}"
                    th:href="'#tab-'+${iter.index+#lists.size(elems_left)}"
                ></a>

            </div>
            
        </div>
    </body>
</html>