<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="profile">
            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-md-4 mb-2">
                        <div class="col-md-12">
                            <div class = "card h-100">
                                <div class = "card-header">
                                    <h2 th:text="'Hey ' + ${user.name} + ' ' + ${user.surname}"></h2>
                                </div>
                                <div class = "card-body">
                                    <div class="card-text" sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</div>
                                    <div class="card-text"> Some more information</div>
                                    <form th:action="@{/logout}" method="post">
                                        <!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> -->
                                        <button type="submit" class="btn btn-primary" id="logout">Logout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-md-8 mb-2">
                        <div class="col-md-12 mb-2">
                            <p>
                                Zusätzlich zu allen anderen Funktionen, darf ein Admin auch weitere Rollen erstellen und Ihnen funktionen zuweisen, was ihm einen Metamodel Aspekt verleiht.
                            </p>
                            <div class = "card h-100">
                                <div class = "card-header">
                                    <h2>Rollen</h2>
                                </div>
                                <div class = "card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="role : ${roles}">
                                                <th scope="row" th:text="${role.id}"></th>
                                                <td><span th:text="${role.name}"></span></td>
                                                <td></td>
                                            </tr>
                                            <form method="post" id="roleForm">
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td><input type="text" name="name" placeholder="ROLE_" required> </td>
                                                    <td><button type="submit" class="btn btn-primary">Create</button> </td>        
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 mb-2">
                            <div class = "card h-100">
                                <div class = "card-header">
                                    <h2>Jobanfragen</h2>
                                </div>
                                <div class = "card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Nachname</th>
                                            <th scope="col">E-Mail</th>
                                            <th scope="col">Lebenslauf</th>
                                            <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="jobRequest : ${jobRequests}">
                                                <th scope="row" th:text="${jobRequest.id}"></th>
                                                <td><span th:text="${jobRequest.getUser().getName()}"></span></td>
                                                <td><span th:text="${jobRequest.getUser().getSurname()}"></span></td>
                                                <td><span th:text="${jobRequest.getUser().getEmail()}"></span></td>
                                                <td><span>
                                                    <button th:attr="data-id=${jobRequest.getId()}" type="submit" class="btn btn-primary cv-download-btn" th:text="${jobRequest.getFile().getFileName()}"></button>
                                                </span></td>
                                                <td><span>
                                                    <button th:attr="data-id=${jobRequest.getId()}" type="submit" class="btn btn-primary request-accept-btn">Annehmen</button>
                                                    <button th:attr="data-id=${jobRequest.getId()}" type="submit" class="btn btn-primary request-reject-btn">Ablehnen</button>
                                                </span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-2">
                            <div class = "card h-100">
                                <div class = "card-header">
                                    <h2>Benutzer</h2>
                                </div>
                                <div class = "card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Rollen</th>
                                            <th scope="col">E-Mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="user : ${users}">
                                                <th scope="row" th:text="${user.id}"></th>
                                                <td><span th:text="${user.name}"></span></td>
                                                <td><span th:text="${user.surname}"></span></td>
                                                <td><span th:text="${user.state}"></span></td>
                                                <td>
                                                    <span th:each="role, iterStat : ${user.roles}" 
                                                          th:text="${role.name} + (iterStat.last ? '' : ', ')">
                                                    </span>
                                                </td>
                                                <td>
                                                    <a th:href="'mailto:' + ${user.email}"><i class="bi bi-envelope-at"></i> <span th:text="${user.email}"></span></a>
                                                </td> 
                                                <!-- <td><span th:text="${user.getRole().getName()}"></span></td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-2">
                            <div class = "card h-100">
                                <div class = "card-header">
                                    <h2>Preise</h2>
                                </div>
                                <div class = "card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Beschreibung</th>
                                            <th scope="col">Preis</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="price : ${prices}">
                                                <th scope="row" th:text="${price.id}"></th>
                                                <td><span th:text="${price.description}"></span></td>
                                                <td><span th:text="${price.price}"></span></td>
                                                <!-- <td><span th:text="${user.getRole().getName()}"></span></td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>